* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 90%;
    max-width: 500px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}
.menu {
    display: flex;
    gap: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;

    transition: 0.3s;
}
.hero {
    min-height: 500px;

    display: flex;
    align-items: center;

    background:
        linear-gradient(
            rgba(0, 70, 35, 0.80),
            rgba(0, 70, 35, 0.80)
        );
    width: 100%;
    letter-spacing: 2px;   
}